In [0]:
from pyspark.sql import SparkSession

df_airlines=spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/Volumes/workspace/default/flights/airlines.csv")
df_airlines.write.format("delta").mode("overwrite").saveAsTable("flight_bronze.bronze_airlines")
spark.sql("SELECT * FROM flight_bronze.bronze_airlines LIMIT 10").show()

In [0]:
df_airports=spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/Volumes/workspace/default/flights/airports.csv")
df_airports.write.format("delta").mode("overwrite").saveAsTable("flight_bronze.bronze_airports")
spark.sql("SELECT * FROM flight_bronze.bronze_airports LIMIT 10").show()

In [0]:
df_flights=spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/Volumes/workspace/default/flights/flights.csv")
df_flights.write.format("delta").mode("overwrite").saveAsTable("flight_bronze.bronze_flights")
spark.sql("SELECT * FROM flight_bronze.bronze_flights LIMIT 10").show()